<div>
	<h1>Terminos y Condiciones</h1>
	<p>El presente contrato describe los términos y condiciones aplicables al uso del contenido y servicios del sitio web UniTable del cual es titular MicroDev Corp. Para hacer uso del contenido y servicios del sitio web el usuario debera sujetarse a los presentes términos y condiciones.</p>
	
	<ul>
		<li>LEA ESTOS TÉRMINOS CON ATENCIÓN Y EN SU TOTALIDAD. CONTIENEN CONDICIONES Y RESTRICCIONES CON RESPECTO A LA DISPONIBILIDAD DE LAS OFERTAS PROMOCIONALES DE WITHOUTSTRESS PREMIUM E INFORMACIÓN ACERCA DE LO QUE SUCEDE DESPUÉS DE QUE LA OFERTA PROMOCIONAL DE WITHOUTSTRESS FINALICE.</li>
		<li>Cuando envía su información de pago, confirma su aceptación de la oferta promocional anunciada; acepta y está de acuerdo con estos términos de la oferta promocional, incluidos los términos y condiciones relevantes que corresponden al Servicio de WithoutStress Premium anunciado.</li>
		<li>Toda la información recopilada por WithoutStress en virtud de cualquier oferta promocional se procesará y utilizará de conformidad con nuestra <a href="https://www.privacypolicies.com/live/3e99ac46-4f2a-488d-8e6a-2ef167161bf8">Política de Privacidad</a>. A menos que se anuncien de otro modo, las ofertas promocionales no permiten ni brindan acceso a bienes o servicios de terceros.</li>
		<li>En el caso de cualquier oferta promocional, el período promocional correspondiente continuará durante el tiempo anunciado.</li>
		<li>Si cancela una oferta promocional durante el período promocional, su cuenta de WithoutStress cambiará a una de capa gratuita al final el período promocional.</li>
	</ul> 
</div>